*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    font-family: "Avant Garde Book BT", sans-serif;
    background-color: #fff;
    color: #222;
    margin: auto;
   
}



#navbarone {
    background: #fff;
    position: static;
    top: 0;
    z-index: 2;
}

#navbarone ul li a {
    padding: 0.75rem;
    font-weight: bold;
}

#navbarone ul li a.current {
    background: ;
    color: #fff;
#navbarone .social {
    justify-self: center;
}

#navbarone .social i {
    color: #0D3555;
    margin-right: .5rem;
}


.nav{
    position: static;
    background-color:#ffffff;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}


.nav .containertwo {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

.nav ul li:hover {

    border-bottom: 2px solid #222;
    transition: all .3s ease-in-out;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.nav a {
    color: #222;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .3s ease-in-out;

}


.dropdown-content a:hover {
    background-color: #0D3555;
    color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hero {

    height: 50vh;
    background: #0D3555;
color: white;
}   

.hero > .container{
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 80px;
}

.intro > h3, p{
    text-align: center;
    padding-top: 20px;
}


.tours{
    padding: 60px;
    margin: 10px 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
   
}

.day{
  text-align: center;
  color: #0D3555;
  padding-bottom: 20px;
}
  
.items-tour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
   
}
.item {
    position: relative;
    background: #0D3555;
    overflow: hidden; 
}
.item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-100%) translateY(-100%) ;
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); 
}
.item:hover:after {
    transform: scale(2) translateX(0) translateY(0); 
}
.item:hover .item-image {
    transform: scale(1.2); 
}
.item:hover .item-text {
    opacity: 1;
    transform: translateY(0); 
}
.item-image {
    
    height:auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); 
}

.item-image:before {
    content: '';
    display: block;
    padding-top: 90%;
    overflow: hidden; 
}
.item-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0; 
}
    .item-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #fff;
      transform: translateY(-20%);
      transition: opacity 500ms, transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms; }
    .item-text-wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }
    .item-text-title {
      font-size: 2rem;
      padding: 0 1rem;
      margin: 5px 0 0 0; }

    .item-text-category {
      
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 0; }

      .checkout{
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-align: center;
          padding: 30px;
      }

      .checkout .btn{
        
        background-color: transparent;
        border: 2px #0D3555 solid;
        padding: 14px 70px;
        display: inline-block;
        border-radius: 20px;
        cursor: pointer;
      }

.btn-darkbg{

    background-color: #0D3555;
    border: 2px #ffffff solid;
    color: #ffffff;
    padding: 14px 70px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}

.btn-darkbg:hover{

    background-color: #333;
    border: 2px #ffffff solid;
    color: #ffffff;
    padding: 14px 70px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}


.checkout > .btn:hover{
          background-color: #0D3555;
          color: #f5f5f5;
          transition: 1s ease-in-out;
      }
    

      .image-wrapper {
        box-sizing:border-box;
        float: left;
        margin-bottom:5px;
        width: 25%;
      }
      
      .image-wrapper:nth-child(even)
      {
        padding-left:5px;
      }
      
      .image-wrapper:nth-child(odd)
      {
        padding-right:5px;
      }
      
      .image-wrapper > img {
        width: 50%;
      }
      
      .image-wrapper > span {
        display: inline-block;
        width: 100%;
      }


.cont{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
}

.w-2{
    grid-column: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-3{
    grid-column: span 3;
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.h-3{
    grid-row: span 3;
}

.post {
    padding: 50px 30px;
}

/* Footer */
#main-footer {
    background: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
    background: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;



